*{
    margin:0px;
    padding: 0px;
}
.navbar{
    height:80px;
    width:100%;
    border-bottom: .5px solid black;
    background-color: whitesmoke;
    position: fixed;
}
.logo_text{
    position: absolute;
    top:20px;
    left:2.5%;
}
.black{
    display: inline-block;
    font-family: Poppins;
}
.red{
    display: inline-block;
    color:rgb(255, 0, 0);
    font-family: Poppins;
    font-size: 22px;
}
.navlink{
    display: none;
    position:absolute;
    left:45%;
    top:10px;
    visibility: visible;
}
.navlink ul{
    display: flex;
}
.navlink ul li{
    margin:20px;
    list-style: none;
}
.navlink ul li h1{
    text-decoration: none;
    color:black;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 2.5px;
}
@media (min-width:999px) {
    .mobile_navlink{
        position: fixed;
    }
    .navlink{
        display: inline-block;
        visibility:visible;
        width:auto;
    }
}
/* Navbar for mobile users*/


.mobile_nav{
    width:10%;
    position: relative;
    left:85%;
    margin-top: 15px;
}
.mobile_nav img{
    width:40px;
    height:auto;
}
#close_image{
    margin:5.5px;
    width:25px;
    display: none;
}
.mobile_navlink{
    display: none;
    height:100vh;
    width:100%;
    position: absolute;
    top:82px;
    display:flex;
    justify-content: center;
    align-items:center;
    visibility: hidden;
    overflow: hidden;
}
.mobile_link ul li{
    list-style: none;
    margin: 20px;
    padding:10px;
    position: relative;
    bottom:90px;
}
.mobile_link ul li a{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    color: black;
}

@keyframes mobile_navlink{
    0%{
        width:0vw;
    }
    100%{
        width:100%;
    }
}
@keyframes backdrop_mobile_navlink{
    0%{
        width:100%;
    }
    100%{
        width:0vw;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes norotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media (min-width:0px) and (max-width:499px){
    .mobile_nav{
       top:20px;
    }
}
@media (min-width:999px){
    .mobile_nav{
        visibility:hidden;
    }
    .mobile_navlink{
        visibility:hidden;
    }
}
@keyframes border_bottom{
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
