*{
    margin:0px;
    padding: 0px;
}
.navbar{
    height:80px;
    width:100%;
    border-bottom: .5px solid black;
    background-color: whitesmoke;
    position: fixed;
}
.logo_text{
    position: absolute;
    top:20px;
    left:2.5%;
}
.black{
    display: inline-block;
    font-family: Poppins;
}
.red{
    display: inline-block;
    color:rgb(255, 0, 0);
    font-family: Poppins;
    font-size: 22px;
}
.navlink{
    display: none;
    position:absolute;
    left:45%;
    top:10px;
    visibility: visible;
}
.navlink ul{
    display: flex;
}
.navlink ul li{
    margin:20px;
    list-style: none;
}
.navlink ul li h1{
    text-decoration: none;
    color:black;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 2.5px;
}
@media (min-width:999px) {
    .mobile_navlink{
        position: fixed;
    }
    .navlink{
        display: inline-block;
        visibility:visible;
        width:auto;
    }
}



/* Navbar for mobile users*/
.mobile_nav{
    width:10%;
    position: relative;
    left:85%;
    margin-top: 15px;
}
.mobile_nav img{
    width:40px;
    height:auto;
}
#close_image{
    width:25px;
    display: none;
    margin: 6px;
}
.mobile_navlink{
    display: none;
    height:100vh;
    width:100%;
    position: absolute;
    top:82px;
    display:flex;
    justify-content: center;
    align-items:center;
    visibility: hidden;
    overflow: hidden;
    background-color: whitesmoke;
}
.mobile_link ul li{
    list-style: none;
    margin: 20px;
    padding:10px;
    position: relative;
    bottom:90px;
}
.mobile_link ul li a{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    color: black;
}

@keyframes mobile_navlink{
    0%{
        width:0vw;
    }
    100%{
        width:100%;
    }
}
@keyframes backdrop_mobile_navlink{
    0%{
        width:100%;
    }
    100%{
        width:0vw;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes norotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media (min-width:999px){
    .mobile_nav{
        visibility:hidden;
    }
    .mobile_navlink{
        visibility:hidden;
    }
}
@keyframes border_bottom{
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
/*hero section css*/
.heroSection{
    width:100%;
    height:auto;
    display: flex;
}
.left{
    width:50%;
    margin-top: 25px;
}
.left h1{
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    color:red;
    margin: 20px;
    margin-top: 110px;
}
.left p{
    font-family: Manrope;
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
}
.right{
    margin-top: 100px;
    width:50%;
    height:auto;
}
#video{
    width:80%;
    border-radius: 200px;
    margin: 20px;
}
/*css for phone*/
@media (max-width:1000px){
    .heroSection{
        display: inline-block;
    }
    .left{
        width:100%;
        display: inline-block;
        margin: 0px;
    }
    .left h1{
        font-size: 28px;
    }
    .left p{
        font-size: 18px;
    }
    .right{
        width:100%;
        margin: 0px;
    }
    #video{
        width:50%;
        margin-left: 22%;
    }

}
@media (max-width:500px){
    .left{
        margin:0px;
    }
    .left p{
        font-size: 14.5px;
    }
    .right{
        margin: 0px;
        width:100%;
    }
    #vedio{
        margin-left: 0px;
        width:99vw;
    }
}

/*blog section css*/
.blogsection{
    width:99vw;
    display: flex;
    justify-content: center;
}
.blogsection h1{
    display: inline-block;
    font-family: Manrope;
    font-weight: 800;
    font-size: 32px;
}
.tech{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    margin-top: 50px;
}
.tech img{
    width:10%;
    height: auto;
    border-radius: 200px;
    background-color: black;
}
.tech h2{
    font-family: Manrope;
    font-weight: 800;
    font-size: 24px;
}
.tech p{
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
}
.tech button{
    width:12.5vw;
    height: 50px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 1px solid red;
}
@media (max-width:1000px){
    .tech{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }
    .tech h1{
        text-align: center;
    }
    .tech p{
        text-align: center;
    }
    .tech img{
        width: 20%;
    }
    .tech button{
        width:20vw;
    }
}
@media (max-width:580px){
    .tech img{
        width: 25%;
    }
    .tech h2{
        font-size: 20px;
    }
    .tech p {
        font-size: 15px;
    }
    .tech button{
        width: 30vw;
    }
}
@media (max-width:350px){
    .tech button{
        width: 35vw;
        font-size: 16px;
    }
}
